@using MovieRating.Data.Models;
@using MovieRating.Data.Models.Dtos
@model MovieWithRatingAndActorsDto

@{
    ViewData["Title"] = "View";
}

<h1>@Model.Title</h1>

<h3>@Model.Description</h3>
<h3>Release date: @Model.ReleaseDate.ToShortDateString()</h3>

<h5>Actors</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                Actor name
            </th>
            <th>
                Rating
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Actors) 
{
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Actor", "Actor", new {actorId = item.Id})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRating)
            </td>
        </tr>
}
    </tbody>
</table>
