@    using MovieRating.Data.Models;
@    using MovieRating.Data.Models.Dtos
@model ActorWithRatingAndMoviesDto

@{
    ViewData["Title"] = "View";
}

<h1>@Model.Name</h1>

<h5>Movies</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                ReleaseDate
            </th>
            <th>
                Rating
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movies) 
{
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Movie", "Movie", new {movieId = item.Id})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.ReleaseDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRating)
            </td>
        </tr>
}
    </tbody>
</table>
